<a href="https://colab.research.google.com/github/asrivastava0601/HackerEarth_Attrition_Prediction/blob/master/Emp_attrition_rate_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import math

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import os

os.getcwd()

'/content'

In [ ]:
os.chdir("/content/gdrive/My Drive/HackerEarth_Predict_Emp_Attrition/Dataset")

In [ ]:
### Reading the training data ###
train_data = pd.read_csv("Train.csv")

In [ ]:
train_data.shape

(7000, 24)

In [ ]:
train_data.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
### Check for NULL values ###
train_data.isnull().values.any()

True

In [ ]:
### Column/Feature wise total NULL values ###
train_data.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          412
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
Attrition_rate                 0
dtype: int64

In [ ]:
desc = train_data.describe()

desc

               Age  Education_Level  ...         VAR7  Attrition_rate
count  6588.000000      7000.000000  ...  7000.000000     7000.000000
mean     39.622799         3.187857  ...     3.257000        0.189376
std      13.606920         1.065102  ...     0.925319        0.185753
min      19.000000         1.000000  ...     1.000000        0.000000
25%      27.000000         3.000000  ...     3.000000        0.070400
50%      37.000000         3.000000  ...     3.000000        0.142650
75%      52.000000         4.000000  ...     4.000000        0.235000
max      65.000000         5.000000  ...     5.000000        0.995900

[8 rows x 17 columns]

In [ ]:
### Read the test set (for prediction and submission) ###
test_data = pd.read_csv("Test.csv")

In [ ]:
test_data.shape

(3000, 23)

In [ ]:
test_data.head()

  Employee_ID Gender   Age  Education_Level  ... VAR4 VAR5 VAR6 VAR7
0   EID_22713      F  32.0                5  ...  2.0    1    8    4
1    EID_9658      M  65.0                2  ...  1.0    2    8    2
2   EID_22203      M  52.0                3  ...  2.0    1    9    3
3    EID_7652      M  50.0                5  ...  2.0    2    8    3
4    EID_6516      F  44.0                3  ...  2.0    2    7    4

[5 rows x 23 columns]

In [ ]:
test_data.isnull().values.any()

True

In [ ]:
### Column/Feature wise missing vaues in the prediction set ###
test_data.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [ ]:
### Lets combine these two dataframes for summary stats and imputing the missing values ###
combined_data = pd.concat([train_data,test_data])

In [ ]:
combined_data.shape

(10000, 24)

In [ ]:
combined_data.tail()

     Employee_ID Gender   Age  ...  VAR6 VAR7 Attrition_rate
2995   EID_22547      F  32.0  ...     7    4            NaN
2996   EID_10066      F   NaN  ...     8    3            NaN
2997    EID_7126      F  60.0  ...     8    4            NaN
2998    EID_4929      F  51.0  ...     9    2            NaN
2999   EID_24750      F  45.0  ...     8    5            NaN

[5 rows x 24 columns]

In [ ]:
combined_data.isnull().sum()

Employee_ID                     0
Gender                          0
Age                           573
Education_Level                 0
Relationship_Status             0
Hometown                        0
Unit                            0
Decision_skill_possess          0
Time_of_service               196
Time_since_promotion            0
growth_rate                     0
Travel_Rate                     0
Post_Level                      0
Pay_Scale                      12
Compensation_and_Benefits       0
Work_Life_balance              16
VAR1                            0
VAR2                          794
VAR3                            0
VAR4                          954
VAR5                            0
VAR6                            0
VAR7                            0
Attrition_rate               3000
dtype: int64

In [ ]:
!pip install sweetviz

Collecting sweetviz
  Downloading https://files.pythonhosted.org/packages/8f/bd/f4454adfe1d3bbd04892d6172348ca215fa62d59fb09c1ac6b8a233341d3/sweetviz-1.0a7-py3-none-any.whl (323kB)
     |████████████████████████████████| 327kB 2.6MB/s
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.0.5)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (2.11.2)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (3.2.2)
Collecting tqdm>=4.43.0
  Downloading https://files.pythonhosted.org/packages/46/62/7663894f67ac5a41a0d8812d78d9d2a9404124051885af9d77dc526fb399/tqdm-4.47.0-py2.py3-none-any.whl (66kB)
     |████████████████████████████████| 71kB 3.6MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.18.5)
Collecting importlib-resources>=1.2.0
  Downloading https://files.pythonhosted.org/packages/ba/03/0f9595c0c2ef12590877f3c47e5f579759ce5caf817f8256d5dcbd8a1177/importlib_resources-3.0.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (1.12.0)
Installing collected packages: tqdm, importlib-resources, sweetviz
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed importlib-resources-3.0.0 sweetviz-1.0a7 tqdm-4.47.0

In [ ]:
### Sweetviz will create a HTML report similar to pandas profiling feature ###
import sweetviz as sv

feature_config = sv.FeatureConfig(skip="Employee_ID")   # Removing Employee_ID as it is primary key here.

my_report = sv.compare([train_data,"Train"],[test_data,"Test"] ,'Attrition_rate', feature_config)
my_report.show_html("Report.html")

:FEATURES DONE:                    |█████████████████████| [100%]   00:10  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

Creating Associations graph... DONE!

In [ ]:
### Imputing the missing values in Age column ###
median_age_on_g_rs = combined_data.groupby(['Gender', 'Relationship_Status'])['Age'].median().to_frame()

median_age_on_g_rs

                             Age
Gender Relationship_Status
F      Married              38.0
       Single               38.0
M      Married              37.0
       Single               38.0

In [ ]:
### Lets create a function to fill the missing Age based on Relationship status and Gender ###
def fill_missing_age (cols):
    Age = cols[0]
    Gender = cols[1]
    Relationship_Status= cols[2]

    if (pd.isnull(Age)):
        if (Gender == 'F'):
            return 38
        elif (Gender == 'M'):
            if (Relationship_Status == 'Married'):
                return 37
            else: return 38
    else: return Age

In [ ]:
combined_data['Age']= combined_data[['Age','Gender','Relationship_Status']].apply(fill_missing_age, axis=1)

In [ ]:
### Lets check if Age column has any missing values. 0 means no missing values ###
combined_data['Age'].isnull().sum()

0

In [ ]:
### Time_of_service imputation ###
median_ts = combined_data['Time_of_service'].median()

median_ts

10.0

In [ ]:
combined_data['Time_of_service'] = combined_data['Time_of_service'].fillna(median_ts)

In [ ]:
combined_data['Time_of_service'].isnull().sum()

0

In [ ]:
### Pay scale imputation ###
mode_ps = math.floor(train_data['Pay_Scale'].mode())

mode_ps

8

In [ ]:
combined_data['Pay_Scale'] = combined_data['Pay_Scale'].fillna(mode_ps)

combined_data['Pay_Scale'].isnull().sum()

0

In [ ]:
### Work life balance imputation ###
mode_wlb = math.floor(combined_data['Work_Life_balance'].mode())

mode_wlb

1

In [ ]:
combined_data['Work_Life_balance'] = combined_data['Work_Life_balance'].fillna(mode_wlb)

combined_data['Work_Life_balance'].isnull().sum()

0

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb_enc = LabelEncoder()

In [ ]:
### Label encoding the VAR2, VAR3 ###
combined_data['VAR2'] =lb_enc.fit_transform(combined_data['VAR2'])
combined_data['VAR3'] =lb_enc.fit_transform(combined_data['VAR3'])

In [ ]:
### VAR2 imputation. Var2 is a categoricla value column as observed in the Report.html ###
mode_var2 = math.floor(combined_data["VAR2"].mode())

mode_var2

3

In [ ]:
combined_data["VAR2"] = combined_data["VAR2"].fillna(mode_var2)

combined_data["VAR2"].isnull().sum()

0

In [ ]:
### VAR4 imputation ###
mode_var4 = math.floor(combined_data["VAR4"].mode())

mode_var4

2

In [ ]:
combined_data["VAR4"] = combined_data["VAR4"].fillna(mode_var2)

combined_data["VAR4"].isnull().sum()

0

In [ ]:
### Final check for any missing values. Ignoring the class column Attrition rate ###
combined_data.isnull().sum()

Employee_ID                     0
Gender                          0
Age                             0
Education_Level                 0
Relationship_Status             0
Hometown                        0
Unit                            0
Decision_skill_possess          0
Time_of_service                 0
Time_since_promotion            0
growth_rate                     0
Travel_Rate                     0
Post_Level                      0
Pay_Scale                       0
Compensation_and_Benefits       0
Work_Life_balance               0
VAR1                            0
VAR2                            0
VAR3                            0
VAR4                            0
VAR5                            0
VAR6                            0
VAR7                            0
Attrition_rate               3000
dtype: int64

In [ ]:
### Separate the training and test data ###
train_data = combined_data.iloc[0:7000,:]

In [ ]:
train_data.shape

(7000, 24)

In [ ]:
train_data.isnull().sum()

Employee_ID                  0
Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
Attrition_rate               0
dtype: int64

In [ ]:
test_data = combined_data.iloc[7000:,:]

In [ ]:
test_data.shape

(3000, 24)

In [ ]:
test_data.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_22713      F  32.0                5  ...    1    8    4            NaN
1    EID_9658      M  65.0                2  ...    2    8    2            NaN
2   EID_22203      M  52.0                3  ...    1    9    3            NaN
3    EID_7652      M  50.0                5  ...    2    8    3            NaN
4    EID_6516      F  44.0                3  ...    2    7    4            NaN

[5 rows x 24 columns]

In [ ]:
test_data.isnull().sum()

Employee_ID                     0
Gender                          0
Age                             0
Education_Level                 0
Relationship_Status             0
Hometown                        0
Unit                            0
Decision_skill_possess          0
Time_of_service                 0
Time_since_promotion            0
growth_rate                     0
Travel_Rate                     0
Post_Level                      0
Pay_Scale                       0
Compensation_and_Benefits       0
Work_Life_balance               0
VAR1                            0
VAR2                            0
VAR3                            0
VAR4                            0
VAR5                            0
VAR6                            0
VAR7                            0
Attrition_rate               3000
dtype: int64

In [ ]:
### Label encoding the columns for feature selection ###

temp_data = train_data.iloc[:,1:23]

In [ ]:
temp_data["Gender"] = lb_enc.fit_transform(temp_data['Gender'])
temp_data["Relationship_Status"] = lb_enc.fit_transform(temp_data['Relationship_Status'])
temp_data["Hometown"] = lb_enc.fit_transform(temp_data['Hometown'])
temp_data["Unit"] = lb_enc.fit_transform(temp_data['Unit'])
temp_data["Decision_skill_possess"] = lb_enc.fit_transform(temp_data['Decision_skill_possess'])
temp_data["Compensation_and_Benefits"] = lb_enc.fit_transform(temp_data['Compensation_and_Benefits'])

In [ ]:
temp_data

      Gender   Age  Education_Level  ...  VAR5  VAR6  VAR7
0          0  42.0                4  ...     4     5     3
1          1  24.0                3  ...     3     5     3
2          0  58.0                3  ...     3     8     3
3          0  26.0                3  ...     3     7     3
4          0  31.0                1  ...     2     8     2
...      ...   ...              ...  ...   ...   ...   ...
6995       0  23.0                5  ...     3     7     3
6996       0  44.0                1  ...     4     8     4
6997       0  49.0                3  ...     4     8     3
6998       0  47.0                3  ...     3     6     3
6999       0  58.0                3  ...     4     5     3

[7000 rows x 22 columns]

In [ ]:
### Feature selection ###

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [ ]:
X = temp_data

In [ ]:
y = train_data["Attrition_rate"]

In [ ]:
############# f_regression ##########

bestfeatures = SelectKBest(score_func= f_regression, k=10)
fit = bestfeatures.fit(X,y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

featureScores

                        Specs     Score
0                      Gender  5.706395
1                         Age  1.576945
2             Education_Level  0.464089
3         Relationship_Status  0.580407
4                    Hometown  0.322075
5                        Unit  4.143021
6      Decision_skill_possess  2.294394
7             Time_of_service  2.071546
8        Time_since_promotion  1.348465
9                 growth_rate  1.420629
10                Travel_Rate  1.112608
11                 Post_Level  1.883242
12                  Pay_Scale  1.583972
13  Compensation_and_Benefits  4.438039
14          Work_Life_balance  3.080226
15                       VAR1  0.456138
16                       VAR2  0.822576
17                       VAR3  0.010845
18                       VAR4  2.159360
19                       VAR5  0.159197
20                       VAR6  0.068559
21                       VAR7  1.638352

In [ ]:
from sklearn.feature_selection import mutual_info_regression

In [ ]:
bestfeatures1 = SelectKBest(score_func= mutual_info_regression, k=10)
fit1 = bestfeatures1.fit(X,y)

dfscores1 = pd.DataFrame(fit1.scores_)
dfcolumns1 = pd.DataFrame(X.columns)

featureScores1 = pd.concat([dfcolumns1,dfscores1],axis=1)
featureScores1.columns = ['Specs','Score']  #naming the dataframe columns

featureScores1

In [ ]:
from yellowbrick.target import FeatureCorrelation


# Create a list of the feature names
features = np.array(temp_data.columns)

# Instantiate the visualizer
visualizer = FeatureCorrelation(labels=features)

visualizer.fit(X, y)        # Fit the data to the visualizer
visualizer.show()

In [ ]:
discrete = [False for _ in range(len(features))]
discrete[1] = True
discrete

In [ ]:
# Instantiate the visualizer
visualizer = FeatureCorrelation(method='mutual_info-regression', labels=features)

visualizer.fit(X, y, discrete_features= discrete, random_state=0)
visualizer.show()

In [ ]:
### Create dataframe with only selected top K features ###
X_data = X[['Gender','Unit','Decision_skill_possess','Time_of_service','Compensation_and_Benefits',
            'Work_Life_balance','VAR4']]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X_data, y, test_size=0.25, random_state= 42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model_rfr = RandomForestRegressor(n_estimators= 100,random_state = 42 ,max_depth= 3 , min_samples_leaf= 5)

model_rfr.fit(X_train, Y_train)

y_rfr_pred = model_rfr.predict(X_test)

In [ ]:
mse_rfr = sqrt(mean_squared_error(Y_test, y_rfr_pred))
print("\n Root mean squared error (based on f_regressor values model): ", mse_rfr)

acc_score = 100* max(0, 1- mse_rfr)

print("\n Result for all feature model (based on f_regressor values model): ", acc_score)

 Root mean squared error (based on f_regressor values model):  0.1882645475349247

 Result for all feature model (based on f_regressor values model):  81.17354524650753

In [ ]:
### grid search for the optimisation ###
from sklearn.model_selection import GridSearchCV

parameters_rf = {
    'n_estimators':[20,25,50,100,150],
    'random_state':[42],
    'max_depth':[3,5,10,15,20,30],
    'min_samples_leaf':[3,5,10],
    'max_samples': [0.3,0.5,0.75,0.9,1.0],
    'max_features':['log2','sqrt','auto']
}




gsearch_rf = GridSearchCV(estimator = model_rfr , param_grid = parameters_rf,
                          n_jobs=-1,iid=False, verbose=10,scoring='neg_mean_squared_error')

gsearch_rf.fit(X_data, y)

Fitting 5 folds for each of 1350 candidates, totalling 6750 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    1.7s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:    5.5s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1929s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done  98 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:   13.7s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done 218 tasks      | elapsed:   19.2s
[Parallel(n_jobs=-1)]: Done 252 tasks      | elapsed:   22.6s
[Parallel(n_jobs=-1)]: Done 290 tasks      | elapsed:   25.7s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1834s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0486s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Done 334 tasks      | elapsed:   27.2s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0810s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.4084s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.8841s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   37.8s
[Parallel(n_jobs=-1)]: Done 532 tasks      | elapsed:   39.9s
[Parallel(n_jobs=-1)]: Done 555 tasks      | elapsed:   42.2s
[Parallel(n_jobs=-1)]: Done 578 tasks      | elapsed:   44.4s
[Parallel(n_jobs=-1)]: Done 603 tasks      | elapsed:   46.7s
[Parallel(n_jobs=-1)]: Done 628 tasks      | elapsed:   49.1s
[Parallel(n_jobs=-1)]: Done 655 tasks      | elapsed:   51.5s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1823s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done 682 tasks      | elapsed:   53.7s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0305s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0507s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0914s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.1354s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (5.1182s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 879 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 908 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 939 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 970 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 1003 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 1036 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1692s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0312s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0475s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0876s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Done 1101 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Batch computation too slow (2.2034s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (3.8286s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 1274 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 1311 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 1348 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 1387 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 1426 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1780s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0304s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0483s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0798s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.2046s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (4.6067s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 1635 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 1676 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1719 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1762 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 1807 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1728s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0319s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0505s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0861s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.9633s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (6.9798s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 2020 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 2067 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 2114 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 2163 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1854s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0285s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0502s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0818s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.8492s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (5.0570s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 2379 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 2431 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 2482 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 2535 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1779s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0346s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0417s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0698s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.6765s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (4.9597s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 2755 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 2811 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 2866 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 2923 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1847s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0327s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0714s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0936s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.6367s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (5.6485s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 3118 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 3177 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 3236 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 3297 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1800s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0283s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0413s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0823s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.2695s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (4.7897s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 3496 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 3559 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 3622 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1920s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0316s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Done 3689 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0341s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0668s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.8713s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (6.3167s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 3920 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 3987 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 4054 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1816s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0354s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0384s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0697s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (3.1866s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (6.8956s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 4261 tasks      | elapsed:  7.5min
[Parallel(n_jobs=-1)]: Done 4330 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 4401 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1869s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0312s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0567s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0787s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.4011s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (5.1821s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 4610 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 4683 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 4756 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1827s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0321s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0645s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0793s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.8700s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done 4980 tasks      | elapsed:  9.3min
[Parallel(n_jobs=-1)]: Batch computation too slow (5.4089s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 5074 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 5151 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1886s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0323s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0470s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0885s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (3.0570s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (5.9609s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 5366 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 5445 tasks      | elapsed: 10.5min
[Parallel(n_jobs=-1)]: Done 5524 tasks      | elapsed: 11.0min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1888s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0422s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0412s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0669s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.2325s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (4.8866s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 5743 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 5824 tasks      | elapsed: 11.5min
[Parallel(n_jobs=-1)]: Done 5907 tasks      | elapsed: 11.8min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1840s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0410s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0413s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0982s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (2.7946s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too slow (6.1330s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 6158 tasks      | elapsed: 12.1min
[Parallel(n_jobs=-1)]: Done 6243 tasks      | elapsed: 12.3min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1858s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0369s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0475s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0895s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Batch computation too slow (3.2141s.) Setting batch_size=1.
[Parallel(n_jobs=-1)]: Done 6432 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 6549 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 6636 tasks      | elapsed: 13.6min
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1893s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0332s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0509s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0638s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Done 6750 out of 6750 | elapsed: 13.8min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=3,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=5,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, rand...
                                             verbose=0, warm_start=False),
             iid=False, n_jobs=-1,
             param_grid={'max_depth': [3, 5, 10, 15, 20, 30],
                         'max_features': ['log2', 'sqrt', 'auto'],
                         'max_samples': [0.3, 0.5, 0.75, 0.9, 1.0],
                         'min_samples_leaf': [3, 5, 10],
                         'n_estimators': [20, 25, 50, 100, 150],
                         'random_state': [42]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=10)

In [ ]:
print('best params')
print (gsearch_rf.best_params_)

print('best score')
print (gsearch_rf.best_score_)

best params
{'max_depth': 3, 'max_features': 'log2', 'max_samples': 0.75, 'min_samples_leaf': 5, 'n_estimators': 25, 'random_state': 42}
best score
-0.034439338741733536

In [ ]:
### Model with optimised parameters ###
new_model_rfr = RandomForestRegressor(n_estimators= 25,random_state = 42 ,max_depth= 3 , min_samples_leaf= 5,
                                 max_samples = 0.75,max_features= 'log2' )

new_model_rfr.fit(X_train, Y_train)

new_y_rfr_pred = new_model_rfr.predict(X_test)

In [ ]:
new_mse_rfr = sqrt(mean_squared_error(Y_test, new_y_rfr_pred))
print("\n Root mean squared error (based on f_regressor values model): ", new_mse_rfr)

new_acc_score = 100* max(0, 1- new_mse_rfr)

print("\n Result for all feature model (based on f_regressor values model): ", new_acc_score)

 Root mean squared error (based on f_regressor values model):  0.18823955055276204

 Result for all feature model (based on f_regressor values model):  81.17604494472378